.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.start {
  background-image: url('./start.png');
  background-size: cover;
  height: 300px;
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.stop {
  background-image: url('./stop.png');
  background-size: cover;
  height: 300px;
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.output {
  height: 300px;
  width: 300px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
